/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
h1 {
  font-size: 2.4em;
}
div.center {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
body {
  background: url('../img/bamboo.jpg') center fixed;
  color: #444444;
}
header#top {
  *zoom: 1;
  margin: 1ex 0 1ex 0;
}
header#top:before,
header#top:after {
  content: "";
  display: table;
}
header#top:after {
  clear: both;
}
header#top h1 a {
  color: #444444;
}
menu {
  padding: 0;
  margin: 15px 20px 15px 20px;
}
menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
menu h3 {
  margin-bottom: .2ex;
  text-align: center;
}
div#main {
  display: block;
  width: 979.9999999999999px;
  margin: 0 -10px;
  *zoom: 1;
}
div#main:before,
div#main:after {
  content: "";
  display: table;
}
div#main:after {
  clear: both;
}
div#main aside {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  background: url('../img/bamboo2.jpg') center fixed;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: inset -2px -2px 0 #e5d6ac, 6px 8px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -2px -2px 0 #e5d6ac, 6px 8px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset -2px -2px 0 #e5d6ac, 6px 8px 10px rgba(0, 0, 0, 0.3);
}
div#main section {
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
  background: url('../img/bamboo2.jpg') center fixed;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: inset -2px -2px 0 #e5d6ac, 6px 8px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -2px -2px 0 #e5d6ac, 6px 8px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset -2px -2px 0 #e5d6ac, 6px 8px 10px rgba(0, 0, 0, 0.3);
}
div#main section article {
  margin: 15px;
}
div#main div#loading {
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
div#main div#loading img {
  height: 50px;
  width: 50px;
}
footer {
  *zoom: 1;
  margin-top: 1em;
  text-align: center;
}
footer:before,
footer:after {
  content: "";
  display: table;
}
footer:after {
  clear: both;
}
#overlay {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
